*{
    padding: 0;
    margin: 0;
    background-color: rgb(247, 244, 241);
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    padding: 10px 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #37003c;
}

.logo-epl-main {
    height: 40px;
    margin: 0 auto;
    margin-left: 5px;
    margin-top: 3px;
    background-color: #37003c;
}

nav{
    background-color: #37003c;
    height: 100%;
    position: sticky;
}

.nav-color{
    background-color: #37003c;
    color: white;
}

.nav-color a{
    background-color: #37003c;
    color: white;
}

.a-rrss {
    color: #37003c;
    font-size: large;
}