
/** Archivo Variables **/

/* Paleta de colores */

$color-primario: #37003c;
$color-secundario: #fff;

/*Fuente Principal*/

$fuente-principal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

/*Resoluciones de Pantalla*/
$smartphone: 320px;
$tablet: 767px;

/*Mixins*/ 

@mixin header-footer{
    background-color: $color-primario;
    padding: 10px 0;
    position: sticky;
    z-index: 1;
    color: $color-secundario;
    justify-content: space-evenly;
}

/*Espaciados*/ 
$espaciado-general: 20px;
$espaciado-simple: 5px;